<html>
    <head> <title> My Pofile </title>

    </head>
    <body bgcolor="#32cd32" >

        <center><h1>" WECOME TO MY POFILE" </h1><br>

        <img src = "/assets/images/11.jpg" width="200px" height="220px"><br><br>

        <h3>ชื่อ นายน้ำเชี่ยว แสนวงษ์ </h3>
        <h3> ชื่อเล่น เชี่ยว </h3>
        <h3>กิดวันที่ 18 ตุลาคม 2539</h3>
        <h3> อายุ 22 ปี </h3>
        <h3> ที่อยู่ 45 ตรอกโพธิราช ต.ในเมือง อ.เมือง จ.ยโสธร 35000 </h3>
        <h3> กำลังศึกษาระดับปริญญาตรี ชั้นปีที่ 4 </h3>
        <h3> สาขาระบบสารสนเทศทางคอมพิวเตอร์ </h3>
        <h3> คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ </h3>
        <h3> มหาวิทยาลัยเทคโนโลยีราชมงคลิีสาน วิทยาเขตขอนแก่น </h3><br><br>

        <img src = "/assets/images/12.jpg" width="350px" height="250px"></center>

    </body>


</html>