<html>
    <head>
        <title> My page </title>
    </head>
    <body bgcolor="red" text="blue" link="red" vlink="qray">
        <h1 style="font-family:AngsanaUPC;color:darkcyan;font-size:25pt">Hello everybody </h1>
        <h1 style="font-family:AngsanaUPC;color:darkcyan;font-size:25pt"></h1>
        <p style="background-color:yellow;color: darkcyan;align-content: center">
            In  my  heart  I  have  love. <br>
            In  my  love  I  always  have  you.<br>
            ในหัวใจมีความรัก  ในความรักมีเธอเสมอ<br><br>

            I  wish  to  be  a  star  in  your  darkness.<br>
            I  wish  to  be  with you  in  the  stormy  day.<br>
            I  wais  to  be  your  friend  always.<br>
            ขอเป็นแสงแดงส่องสว่างในคืนมืดมิด  ขอเป็นเพื่อนชีวิตไม่***งหาย<br>
            ขออยู่เคียงข้างแม้ในวันที่มีพายุร้าย  ขออยู่ถึงวันสุดท้ายที่มีเธอ<br><br>

            Sending  my  love  to  you,<br>
            On  the  day  I’m  very  thought  of  you.<br>
            ส่งคำ “ รัก”  มาให้  ในวันที่หัวใจเปี่ยมด้วยความคิดถึง<br><br>
        </p>


    </body>
</html>
